# Dependency directories
node_modules/

# Environment variables
.env

# Build folders
dist/
build/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Coverage
coverage/